body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app h3 {
  margin: 0;
  background-color: green;
  color: white;
  padding: 5px;
}
#app {
  border: 1px solid orange;
  text-align: center;
  max-width: 400px;
  margin: 3px auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 7px;
}

table tr:nth-child(even) {
  background-color: rgb(206, 203, 203);
}
